extends layout

block content
  h1 Success!!!
  p Name: #{name}
  p Hash of the password: #{password}
  p Email: #{email}
  p Link to homepage: 
    a(href=url) Link
  p Title of the homepage: #{title}